@import "variables";

.Skills-Companies-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  & .Triangle {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  & .Skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .Title-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      font-size: 2rem;

      & .Title {
        background-color: $dark-blue;
        padding: 5px 3rem;
        color: white;
        font-family: Inter-regular, sans-serif;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }

    & .Content-wrapper {
      width: 100%;
      background-color: $dark-blue;
      display: flex;
      justify-content: center;
      height: inherit;

      & .Content {
        height: inherit;
        font-size: 2rem;
        color: white;
        font-family: Inter-regular, sans-serif;
        text-align: center;
        width: 70%;
        padding: 4rem 0;
        & span {
          line-height: 140%;
        }

        & .Skills-icons-wrapper {
          display: flex;
          justify-content: center;
          margin-top: 2rem;
        }
        & .Skills-icons {
          width: 90%;

          & img {
            scale: 0.7;
          }
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          & .Javascript {
            grid-column-start: 1;
            grid-column-end: 3;
          }
          & .React-icon {
            grid-column-start: 3;
            grid-column-end: 5;
          }
          & .Angular {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 5;
            transform: rotate(-14deg);
          }
          & .Laravel {
            grid-column-start: 7;
            transform: rotate(22deg);
          }
          & .Jquery {
            grid-column-start: 8;
            grid-column-end: 9;
          }

          & .Tryhackme {
            grid-column-start: 2;
            grid-column-end: 4;
            transform: rotate(20deg);
          }

          & .Java {
            grid-column-start: 4;
            grid-column-end: 6;
            transform: rotate(14deg);
          }

          & .Figma {
            grid-column-start: 6;
            grid-column-end: 7;
          }
          & .Node-js {
            grid-column-start: 7;
            transform: rotate(6deg);
          }
          & .Vue {
            grid-column-start: 8;
            transform: rotate(4deg);
          }
        }
      }
    }
  }

  & .Companies {
    padding-top: 1rem;
    font-family: Roboto-medium, sans-serif;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      $dark-blue-op50 0%,
      #fff 15%,
      #fff 85%,
      $dark-blue-op50 100%
    );

    & .Content {
      display: flex;
      height: 10rem;
      gap: 10rem;
      align-items: center;
      margin-bottom: 1rem;

      & .Image {
        height: 7rem;
        width: 15rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      & .Art-image {
        background-image: url("/src/assets/icons/companies/Art.png");
      }

      & .Pragtex-image {
        height: 8rem;
        background-image: url("/src/assets/icons/companies/pragtex.png");
      }

      & .Cyberspark-image {
        background-image: url("/src/assets/icons/companies/cyber-spark.png");
      }

      & .Ascent-image {
        background-image: url("/src/assets/icons/companies/ascent.png");
      }
    }
  }

  & .Empty {
    height: 8rem;
    background-color: $dark-blue;
  }
}
