@import "variables";

.Socials {
  position: fixed;
  right: -28rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 99999;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  gap: 1rem;
  padding: 1rem 0;
  box-shadow: $box-shadow;

  &.Mobile {
    top: -2.8rem;
    flex-direction: row;
    right: 50%;
    transform: translate(50%, 0);
    border-top-left-radius: 0;
    border-bottom-right-radius: $border-radius;
    padding: 0.2rem 1rem;
    gap: 0.5rem;
  }

  &.SmallIntro {
    top: -2px;
    left: -2px;
    right: unset;
    transform: unset;
    padding: 0.5rem 0;
    gap: 0.5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: $border-radius;
    background-color: $dark-blue-op95;
  }

  &.Animate {
    &:not(.Mobile) {
      transition: right 0.7s ease-out;

      &:not(.SmallIntro) {
        right: 0;
      }
    }

    &.Mobile {
      transition: top 0.7s ease-out;
      top: 0;
    }
  }

  & > img {
    scale: 0.6;
    cursor: pointer;
  }

  &.SmallIntro {
    & > img {
      scale: 0.5;
    }
  }
}
