@import "variables";

.Title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & .Title-line {
    align-items: center;
    display: flex;

    & .Horizontal {
      height: 3px;
    }

    & .Vertical {
      width: 3px;
      height: 1.3rem;
      background-color: $dark-blue;
    }

    &-left {
      & .Horizontal {
        background: linear-gradient(
          270deg,
          #2d237b 0%,
          rgba(196, 196, 196, 0) 100%
        );
      }
    }

    &-right {
      & .Horizontal {
        background: linear-gradient(
          90deg,
          #2d237b 0%,
          rgba(196, 196, 196, 0) 100%
        );
      }
    }
  }

  & .Text {
    white-space: nowrap;
    color: $dark-blue;
  }

  &.Small-intro {
    & .Text {
      font-size: 70%;
    }
  }
}
