// colors

$dark-blue: #2a3654;
$dark-blue-op50: rgba(42, 54, 84, 0.5);
$dark-blue-op70: rgba(42, 54, 84, 0.7);
$dark-blue-op95: rgba(42, 54, 84, 0.95);
$dark-blue-op35: rgba(42, 54, 84, 0.35);

$white-op10: rgba(255, 255, 255, 0.1);
$white-op50: rgba(255, 255, 255, 0.5);
$white-op80: rgba(255, 255, 255, 0.8);
$white-op90: rgba(255, 255, 255, 0.9);

$orange: #ff9e59;
$dark-orange-var-1: #77390c;

$dark-orange-var-2: #9e551f;
$dark-orange-var-3: #fba05d;

$gray-op-93: rgba(105, 105, 105, 0.93);
$gray-op-10: rgba(217, 217, 217, 0.1);

$green: #52a625;

// gradients

$blue-gradient: linear-gradient(180deg, #2a3654 1.02%, #586c9c 100%);
$blue-gradient-2: linear-gradient(0deg, #2a3654 1.02%, #586c9c 100%);
$orange-gradient: linear-gradient(90deg, #e58642 0%, #75380b 100%);

// shadows
$box-shadow: 0 0 0.3rem 0 #000;
$box-shadow-blue: 0 0 0.3rem 0 $dark-blue;

// spacings

$desktop-max-width: 128rem;
$desktop-max-height: 70rem;

$border-radius: 1.5rem;

$mobile-menu-height: 8rem;
$mobile-menu-bottom-spacing: 0.4rem;

$mobile-max-height: calc(
  100dvh - (#{$mobile-menu-height} + #{$mobile-menu-bottom-spacing})
);
