@import url(the-new-css-reset/css/reset.css);
.Home-wrapper {
  height: 70rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden; }
  .Home-wrapper .Home {
    width: 128rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 3rem 5rem 0; }
    .Home-wrapper .Home .Img-bg {
      position: absolute;
      width: 52.1rem;
      height: 100rem;
      background-color: #2a3654;
      border-bottom-left-radius: 1000px;
      border-bottom-right-radius: 1000px;
      z-index: -1;
      top: -21.2rem;
      left: -23rem;
      transform: rotate(-54deg); }
    .Home-wrapper .Home img {
      margin-left: -7rem; }
    .Home-wrapper .Home .Intro {
      color: #2a3654;
      text-align: end; }
      .Home-wrapper .Home .Intro .Experiences {
        line-height: 125%;
        font-family: Roboto-light, sans-serif;
        font-size: 10rem; }
      .Home-wrapper .Home .Intro .About {
        border-top: 3px solid #77390c; }
        .Home-wrapper .Home .Intro .About .Name {
          line-height: 140%;
          font-family: League-Spartan-light, sans-serif;
          font-size: 6.5rem; }
          .Home-wrapper .Home .Intro .About .Name span {
            font-family: League-Spartan-regular, sans-serif; }
        .Home-wrapper .Home .Intro .About .Content {
          line-height: 140%;
          font-family: Raleway-semibold, sans-serif;
          font-size: 2.8rem;
          color: #77390c; }

.Menu-wrapper {
  padding: 2.2rem 0;
  font-family: Roboto-regular, sans-serif;
  font-size: 1.7rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1; }
  .Menu-wrapper .Menu {
    display: flex;
    gap: 2rem;
    align-items: center; }
    .Menu-wrapper .Menu .Menu-item {
      padding: 0.5rem 2rem;
      border-radius: 50px;
      transition: background-color 0.5s ease-out; }
      .Menu-wrapper .Menu .Menu-item.Active {
        background-color: #2a3654;
        color: white; }
      .Menu-wrapper .Menu .Menu-item:hover:not(.Active) {
        background-color: rgba(42, 54, 84, 0.5);
        color: white;
        cursor: pointer; }
    .Menu-wrapper .Menu .Small-circle {
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #2a3654;
      border-radius: 500px; }

.Skills-wrapper {
  display: flex;
  justify-content: center;
  background-color: #2a3654; }
  .Skills-wrapper .Skills {
    width: 128rem;
    height: 100%; }

@font-face {
  font-family: "Roboto-regular";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
  src: local("Roboto-regular"), url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-light";
  src: url("../../assets/fonts/Roboto/Roboto-Light.ttf");
  src: local("Roboto-light"), url("../../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-medium";
  src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf");
  src: local("Roboto-medium"), url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "League-Spartan-light";
  src: url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Light.ttf");
  src: local("League-Spartan-light"), url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "League-Spartan-regular";
  src: url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf");
  src: local("League-Spartan-regular"), url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "League-Spartan-medium";
  src: url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Medium.ttf");
  src: local("League-Spartan-medium"), url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-semibold";
  src: url("../../assets/fonts/Raleway/static/Raleway-SemiBold.ttf");
  src: local("Raleway-semibold"), url("../../assets/fonts/Raleway/static/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Inter-regular";
  src: url("../../assets/fonts/Inter/static/Inter-Regular.ttf");
  src: local("Inter-regular"), url("../../assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Inter-medium";
  src: url("../../assets/fonts/Inter/static/Inter-Medium.ttf");
  src: local("Inter-medium"), url("../../assets/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

html,
body {
  font-size: 10px; }
