@import url(the-new-css-reset/css/reset.css);
.Home-wrapper {
  height: 70rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative; }
  .Home-wrapper .Triangle {
    position: absolute;
    transform: rotate(175deg);
    z-index: 9;
    right: -10rem;
    top: -51rem; }
  .Home-wrapper .Home {
    width: 128rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 3rem 5rem 0; }
    .Home-wrapper .Home .Img-bg {
      position: absolute;
      width: 52.1rem;
      height: 100rem;
      background-color: #2a3654;
      border-bottom-left-radius: 1000px;
      border-bottom-right-radius: 1000px;
      z-index: -1;
      top: -21.2rem;
      left: -23rem;
      transform: rotate(-54deg); }
    .Home-wrapper .Home img {
      margin-left: -7rem; }
    .Home-wrapper .Home .Intro {
      color: #2a3654;
      text-align: end; }
      .Home-wrapper .Home .Intro .Experiences {
        line-height: 125%;
        font-family: Roboto-light, sans-serif;
        font-size: 10rem; }
        .Home-wrapper .Home .Intro .Experiences > div {
          margin-right: -25rem; }
        .Home-wrapper .Home .Intro .Experiences.Animate > div {
          transition: margin-right 0.5s ease-out;
          margin-right: 0; }
      .Home-wrapper .Home .Intro .About {
        opacity: 0;
        border-top: 3px solid #77390c; }
        .Home-wrapper .Home .Intro .About .Name {
          line-height: 140%;
          font-family: League-Spartan-light, sans-serif;
          font-size: 6.5rem; }
          .Home-wrapper .Home .Intro .About .Name span {
            font-family: League-Spartan-regular, sans-serif; }
        .Home-wrapper .Home .Intro .About .Content {
          line-height: 140%;
          font-family: Raleway-semibold, sans-serif;
          font-size: 2.8rem;
          color: #77390c; }
        .Home-wrapper .Home .Intro .About.Animate {
          transition: opacity 1s ease-out;
          opacity: 1; }

.Menu-wrapper {
  padding: 2.2rem 0;
  font-family: Roboto-regular, sans-serif;
  font-size: 1.7rem;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  top: -5rem;
  z-index: 9999; }
  .Menu-wrapper.Animate {
    transition: top 1s ease-out;
    top: 0; }
  .Menu-wrapper .Menu {
    box-shadow: 0 0 5px 0 #2a3654;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    border-radius: 500px;
    display: flex;
    gap: 1rem;
    align-items: center; }
    .Menu-wrapper .Menu img {
      scale: 0.5; }
    .Menu-wrapper .Menu .Menu-item-wrapper {
      display: flex;
      gap: 1rem;
      align-items: center; }
    .Menu-wrapper .Menu .Menu-item {
      padding: 0.5rem 2rem;
      border-radius: 50px;
      transition: background-color 0.5s ease-out; }
      .Menu-wrapper .Menu .Menu-item.Active {
        background-color: #2a3654;
        color: white; }
      .Menu-wrapper .Menu .Menu-item:hover:not(.Active) {
        background-color: rgba(42, 54, 84, 0.5);
        color: white;
        cursor: pointer; }
    .Menu-wrapper .Menu .Small-circle {
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #2a3654;
      border-radius: 500px; }

.Skills-Companies-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  .Skills-Companies-wrapper .Triangle {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%); }
  .Skills-Companies-wrapper .Skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Skills-Companies-wrapper .Skills .Title-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      font-size: 2rem; }
      .Skills-Companies-wrapper .Skills .Title-wrapper .Title {
        background-color: #2a3654;
        padding: 5px 3rem;
        color: white;
        font-family: Inter-regular, sans-serif;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem; }
    .Skills-Companies-wrapper .Skills .Content-wrapper {
      width: 100%;
      background-color: #2a3654;
      display: flex;
      justify-content: center;
      height: inherit; }
      .Skills-Companies-wrapper .Skills .Content-wrapper .Content {
        height: inherit;
        font-size: 2rem;
        color: white;
        font-family: Inter-regular, sans-serif;
        text-align: center;
        width: 70%;
        padding: 4rem 0; }
        .Skills-Companies-wrapper .Skills .Content-wrapper .Content span {
          line-height: 140%; }
        .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons-wrapper {
          display: flex;
          justify-content: center;
          margin-top: 2rem; }
        .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons {
          width: 90%;
          display: grid;
          grid-template-columns: repeat(8, 1fr); }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons img {
            scale: 0.7; }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Javascript {
            grid-column-start: 1;
            grid-column-end: 3; }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .React-icon {
            grid-column-start: 3;
            grid-column-end: 5; }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Angular {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 5;
            transform: rotate(-14deg); }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Laravel {
            grid-column-start: 7;
            transform: rotate(22deg); }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Jquery {
            grid-column-start: 8;
            grid-column-end: 9; }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Tryhackme {
            grid-column-start: 2;
            grid-column-end: 4;
            transform: rotate(20deg); }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Java {
            grid-column-start: 4;
            grid-column-end: 6;
            transform: rotate(14deg); }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Figma {
            grid-column-start: 6;
            grid-column-end: 7; }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Node-js {
            grid-column-start: 7;
            transform: rotate(6deg); }
          .Skills-Companies-wrapper .Skills .Content-wrapper .Content .Skills-icons .Vue {
            grid-column-start: 8;
            transform: rotate(4deg); }
  .Skills-Companies-wrapper .Companies {
    padding-top: 1rem;
    font-family: Roboto-medium, sans-serif;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(42, 54, 84, 0.5) 0%, #fff 15%, #fff 85%, rgba(42, 54, 84, 0.5) 100%); }
    .Skills-Companies-wrapper .Companies .Heading {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .Skills-Companies-wrapper .Companies .Heading .Title-line {
        align-items: center;
        display: flex; }
        .Skills-Companies-wrapper .Companies .Heading .Title-line .Horizontal {
          width: 20rem;
          height: 3px; }
        .Skills-Companies-wrapper .Companies .Heading .Title-line .Vertical {
          width: 3px;
          height: 1.3rem;
          background-color: #2a3654; }
        .Skills-Companies-wrapper .Companies .Heading .Title-line-left .Horizontal {
          background: linear-gradient(270deg, #2d237b 0%, rgba(196, 196, 196, 0) 100%); }
        .Skills-Companies-wrapper .Companies .Heading .Title-line-right .Horizontal {
          background: linear-gradient(90deg, #2d237b 0%, rgba(196, 196, 196, 0) 100%); }
      .Skills-Companies-wrapper .Companies .Heading .Text {
        color: #2a3654; }
    .Skills-Companies-wrapper .Companies .Content {
      display: flex;
      height: 10rem;
      gap: 10rem;
      align-items: center;
      margin-bottom: 1rem; }
      .Skills-Companies-wrapper .Companies .Content .Image {
        height: 7rem;
        width: 15rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; }
      .Skills-Companies-wrapper .Companies .Content .Art-image {
        background-image: url("/src/assets/icons/companies/Art.png"); }
      .Skills-Companies-wrapper .Companies .Content .Pragtex-image {
        height: 8rem;
        background-image: url("/src/assets/icons/companies/pragtex.png"); }
      .Skills-Companies-wrapper .Companies .Content .Cyberspark-image {
        background-image: url("/src/assets/icons/companies/cyber-spark.png"); }
      .Skills-Companies-wrapper .Companies .Content .Ascent-image {
        background-image: url("/src/assets/icons/companies/ascent.png"); }
  .Skills-Companies-wrapper .Empty {
    height: 8rem;
    background-color: #2a3654; }

.Works-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-top: -3.4rem; }
  .Works-wrapper .Works {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Works-wrapper .Works .Title {
      font-size: 2rem;
      background-color: white;
      padding: 5px 3rem;
      color: #2a3654;
      font-family: Inter-regular, sans-serif;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem; }
    .Works-wrapper .Works .Work-item-info {
      opacity: 0; }
      .Works-wrapper .Works .Work-item-info.Animate {
        transition: opacity 1s ease-out;
        opacity: 1; }
    .Works-wrapper .Works .Content-wrapper {
      display: flex;
      justify-content: center;
      height: inherit; }
      .Works-wrapper .Works .Content-wrapper .Content {
        height: inherit;
        width: 128rem;
        display: flex;
        flex-direction: column;
        gap: 7rem;
        padding: 4rem 0; }

.Work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem; }
  .Work-item .Heading {
    font-family: Inter-regular, sans-serif;
    width: 90%;
    text-align: center;
    background-color: #2a3654;
    border-radius: 1.5rem;
    color: white;
    font-size: 2rem;
    padding: 1rem 0; }
  .Work-item .Work-item-Content-wrapper {
    display: flex;
    width: 100%; }
    .Work-item .Work-item-Content-wrapper .Work-item-Cover {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 45rem; }
    .Work-item .Work-item-Content-wrapper .Work-item-info-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .Work-item .Work-item-Content-wrapper .Work-item-info-wrapper .Work-item-info {
        box-shadow: 0 0 35px 0 #2a3654;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 70%;
        padding: 2rem;
        border-radius: 1.5rem;
        background: linear-gradient(180deg, #2a3654 1.02%, #586c9c 100%);
        font-family: Inter-regular, sans-serif;
        font-size: 1.7rem;
        color: white;
        text-align: center; }
        .Work-item .Work-item-Content-wrapper .Work-item-info-wrapper .Work-item-info .Company-icon-wrapper {
          display: flex;
          justify-content: center;
          border-radius: 1.5rem; }
          .Work-item .Work-item-Content-wrapper .Work-item-info-wrapper .Work-item-info .Company-icon-wrapper img {
            scale: 0.8; }
        .Work-item .Work-item-Content-wrapper .Work-item-info-wrapper .Work-item-info .Work-item-link {
          cursor: pointer; }
          .Work-item .Work-item-Content-wrapper .Work-item-info-wrapper .Work-item-info .Work-item-link:hover {
            text-decoration: underline; }
        .Work-item .Work-item-Content-wrapper .Work-item-info-wrapper .Work-item-info .Work-item-skill {
          display: flex;
          align-items: center;
          justify-content: center; }
          .Work-item .Work-item-Content-wrapper .Work-item-info-wrapper .Work-item-info .Work-item-skill img {
            scale: 0.7; }

.Socials {
  position: fixed;
  right: -28rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
  background-color: #2a3654;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  gap: 1rem;
  padding: 1rem 0;
  box-shadow: 0 0 0.3rem 0 #000; }
  .Socials.Animate {
    transition: right 0.7s ease-out;
    right: 0; }
  .Socials > img {
    scale: 0.6;
    cursor: pointer; }

.Contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin-top 0.5s ease-out; }
  .Contact-wrapper .Title-wrapper {
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 10rem;
    background: linear-gradient(0, #fff 0%, transparent 100%); }
    .Contact-wrapper .Title-wrapper .Title {
      width: fit-content;
      display: flex;
      align-items: center;
      font-size: 2rem;
      padding: 5px 3rem;
      color: white;
      font-family: Inter-regular, sans-serif;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      background-color: #2a3654;
      cursor: pointer; }
      .Contact-wrapper .Title-wrapper .Title:hover {
        text-decoration: underline; }
  .Contact-wrapper .Content-wrapper {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .Contact-wrapper .Content-wrapper .Heading,
    .Contact-wrapper .Content-wrapper .Subheading {
      text-align: center; }
    .Contact-wrapper .Content-wrapper .Heading {
      font-family: League-Spartan-regular, sans-serif;
      font-size: 4rem; }
      .Contact-wrapper .Content-wrapper .Heading span {
        color: #fba05d; }
    .Contact-wrapper .Content-wrapper .Subheading {
      font-family: Inter-regular, sans-serif;
      font-size: 2rem; }
  .Contact-wrapper .Contact {
    background-color: #2a3654;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 0;
    z-index: 0;
    gap: 8rem; }
    .Contact-wrapper .Contact .Dust {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      background-image: url("../../assets/images/desktop/texture-dust.png");
      background-size: contain; }
    .Contact-wrapper .Contact .Form-wrapper form {
      font-family: Inter-medium, sans-serif;
      font-size: 1.7rem;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
      .Contact-wrapper .Contact .Form-wrapper form .Field-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem; }
        .Contact-wrapper .Contact .Form-wrapper form .Field-wrapper input,
        .Contact-wrapper .Contact .Form-wrapper form .Field-wrapper textarea {
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 1.5rem;
          color: #2a3654;
          padding: 1rem 2rem; }
        .Contact-wrapper .Contact .Form-wrapper form .Field-wrapper input {
          height: 4.5rem; }
      .Contact-wrapper .Contact .Form-wrapper form button {
        padding: 1rem 1.5rem;
        border-radius: 1.5rem;
        width: fit-content;
        background-color: #9e551f; }

.Download-cv {
  font-size: 2rem;
  cursor: pointer;
  right: 0;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #e58642 0%, #75380b 100%);
  font-family: Roboto-regular, sans-serif;
  color: white; }
  .Download-cv .Download {
    scale: 0.8; }

@font-face {
  font-family: "Roboto-regular";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
  src: local("Roboto-regular"), url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-light";
  src: url("../../assets/fonts/Roboto/Roboto-Light.ttf");
  src: local("Roboto-light"), url("../../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-medium";
  src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf");
  src: local("Roboto-medium"), url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "League-Spartan-light";
  src: url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Light.ttf");
  src: local("League-Spartan-light"), url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "League-Spartan-regular";
  src: url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf");
  src: local("League-Spartan-regular"), url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "League-Spartan-medium";
  src: url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Medium.ttf");
  src: local("League-Spartan-medium"), url("../../assets/fonts/League_Spartan/static/LeagueSpartan-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-semibold";
  src: url("../../assets/fonts/Raleway/static/Raleway-SemiBold.ttf");
  src: local("Raleway-semibold"), url("../../assets/fonts/Raleway/static/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Inter-regular";
  src: url("../../assets/fonts/Inter/static/Inter-Regular.ttf");
  src: local("Inter-regular"), url("../../assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Inter-medium";
  src: url("../../assets/fonts/Inter/static/Inter-Medium.ttf");
  src: local("Inter-medium"), url("../../assets/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

html,
body {
  font-size: 10px;
  scroll-behavior: smooth; }
